body {
    text-align: center;
    margin: 0;
    padding: 0;
}
img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  h1,
  h2,
  h3 {
    margin: 0;
    padding: 0;
  }
  
  p {
    margin: 0;
    padding: 0;
  }
  
  .btn {
    display: inline-block;
    background: #333;
    color: #fff;
    text-decoration: none;
    padding: 1em 2em;
    border: 1px solid #666;
    margin: 0.5em 0;
  }
  
  .btn:hover {
    background: #eaeaea;
    color: #333;
  }

  @media (min-width: 700px) {
    .grid {
      display: grid;
      grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
    }
    .header-title {
      grid-column: 2/4;
    }
    #about > img, #about > p {
      grid-column: 2/4;
    }
    // .portfolio-text {
    //   grid-row: 1;
    //   grid-column: 2/4;
    // }
    // .mosaic {
    //   grid-column: 2/4;
    // }
    #contact {
      display: grid;
      grid-template-columns: 1fr minmax(auto, 30em) 1fr
    }
    .contact {
      grid-column: 2;
    }
  }