// ============== HEADER STYLES ==============

header {
    display: flex;
    height: 100vh;
    position: relative;
    justify-content: center;
    align-items: center;

    .header-title {
        text-align: center;
        z-index: 1;

        p {
            letter-spacing: 1px;
            color: green;
        }

        h1 {          
            line-height: 1.5;
            letter-spacing: 5px;
            color: green;
            font-family: 'Quicksand', sans-serif;
        }
    }
}

//SVG ANIMATION STARTS HERE

.svg-container {
    z-index: 0;
    position: absolute;
    // top: 50%;
    opacity: 0.4;

    width: 85vw;
    transform: translate(-50%, -50%);
    // margin: 0 auto;
    // position: relative;
    left: 50%;
    top: 60%;
    opacity: 0.5;
}

#line {
            transform: scaleX(0);
            transform-origin: 50% 100%;
            animation: grow 1s forwards;
        }

        .draw {
            stroke-dasharray: 1000;
            stroke-dashoffset: 1000;
            fill: none;
            stroke: #ccc;
            stroke-width: 4;
            animation: draw 3s 2s forwards, fill 1s 2.5s forwards;
            stroke-linecap: round;
            stroke-linejoin: round;
        }

        .page .frame {
            fill: #ccc;
            stroke: none;
        }

        .page .background {
            fill: white;
            stroke: none;
        }

        .page .background,
        .page .frame,
        .page rect {
            transform: scaleY(0);
            transform-origin: 50% 100%;
            animation: grow 1s 1s forwards;
        }

        .page-center .content-group {
            animation: contentScroll 8s 3.5s infinite;
        }

        .page-sidebar .content-group {
            animation: contentScrollTwo 8s 4s infinite;
        }

        .page-form .outline-container {
            fill: #ccc;
        }

        .page-form .field-content {
            animation: draw 3s 2s forwards, fillTwo 1s 2.5s forwards
        }

        .page-form .field {
            animation: draw 3s 2s forwards, fill 1s 2.5s forwards, highlight 1s 3.5s;
        }

        .page-form .field-two {
            animation: draw 3s 2s forwards, fill 1s 2.5s forwards, highlight 1s 4.5s;
        }

        .page-form .button-container .button {
            animation: draw 3s 2s forwards, fill 1s 2.5s forwards, highlight 1s 5.5s;
        }

        .page-form .check-mark {
            fill: #10B500;
            animation: none;
        }

        .page-slider .image-slider-group {
            animation: sliderScroll 8s 3.5s infinite;
        }

        .page-hero .images-container {
            animation: heroImagesOne 6s 3.5s infinite;
        }

        .page-hero .images-container-two {
            animation: heroImagesTwo 6s 3.5s infinite;
        }

        @keyframes grow {

            100% {
                transform: scale(1);
            }

        }

        @keyframes draw {

            100% {
                stroke-dashoffset: 0;
            }
        }

        @keyframes fill {

            100% {
                fill: #ccc;
                stroke-width: 0;
            }

        }

        @keyframes fillTwo {

            100% {
                fill: white;
                stroke-width: 0;
            }

        }

        @keyframes contentScroll {

            50% {
                transform: translateY(-165px);
            }

        }

        @keyframes contentScrollTwo {

            50% {
                transform: translateY(-140px);
            }

        }

        @keyframes highlight {

            50% {
                fill: #10B500;
            }

        }

        @keyframes fadeIn {

            100% {
                opacity: 1;
            }

        }

        @keyframes fadeOut {

            100% {
                opacity: 0;
            }

        }

        @keyframes sliderScroll {

            0% {
                transform: translateX(0);
            }

            20% {
                transform: translateX(0);
            }

            25% {
                transform: translateX(-13.99%);
            }

            45% {
                transform: translateX(-13.99%);
            }

            50% {
                transform: translateX(-27.95%);
            }

            70% {
                transform: translateX(-27.95%);
            }

            75% {
                transform: translateX(13.95%);
            }

            95% {
                transform: translateX(13.95%);
            }

        }

        @keyframes heroImagesOne {

            0% {
                transform: translateX(0);
            }

            10%, 50% {
                transform: translateX(-459px);
            }

            60%, 100% {
                transform: translateX(0);
            }

        }

        @keyframes heroImagesTwo {

            0% {
                transform: translateX(459px);
            }

            10%, 50% {
                transform: translateX(0);
            }

            60%, 100% {
                transform: translateX(459px);
            }

        }

        #form-sent {
            opacity: 0;
            transition: opacity 1000ms;
            animation: fadeIn 1s 6.5s forwards, fadeOut 2s 10s forwards;
        }

        .is-hidden {
            opacity: 0;
        }
        // END SVG HEADER STYLES 