// #81D4FA lighter
// #0091EA #01579B darker

// $color-shadow:
$color-primary: #03A9F4;
// $color-accent: #81D4FA
$color-background: #01579B;
// $color-background-shade:
// $color-background-invert:  
// $color-text:
// $color-text-heading:
// $color-text-invert:
// $color-button:
// $color-button-invert:
// $color-button-hover:
// $color-border:
$ff-body: "Montserrat", "Helvetica", Arial, sans-serif;
$ff-head: "Montserrat", "Helvetica", Arial, sans-serif;

:root {
    --main-bg-color: black;
  }